<div class="container">
<div class="section-header">          
  <h2 class="section-title">User</h2>
      <hr class="lines">
</div>

<% if user_signed_in? %>
	You are logged in as : <%= current_user.email %>
	<br>
	<%= current_user.name %>
	<br>
	<%= image_tag current_user.image %>
	<br>
	<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
<% else %>
	Please Log in
	<br>
	<%= link_to 'Register', new_user_registration_path %>
	<%= link_to 'Login', user_session_path %>
<% end %>

<br>
<%= link_to 'Home', root_path %>


</div>