<%= render 'header' %>
<p id="notice"><%= notice %></p>
<br>
<div class="container">
<%= link_to 'New Data', new_base64decoder_path, class: "btn btn-primary" %>
<br>
<br>    
<table class="table table-hover">
  <thead >
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Operation</th>
      <th scope="col">Result</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @base64decoders.each do |base64| %>
      <tr>
        <td scope='col'><%= base64.datainput %></td>
        <td><%= base64.operation %></td>
        <td><%= base64.data %></td>
        <td><%= link_to 'Destroy', base64, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>

