<%= render 'header' %>
    <!-- Blog Section -->
    <section id="blog" class="section">
      <p id="notice"><%= notice %></p>
      <!-- Container Starts -->
      <div class="container">
        <%= link_to 'New Post?', new_post_path, class: "btn btn-primary" %>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">

            <!-- Blog Item Starts -->
            <% @posts.each do |post| %>
            <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
              <div class="blog-item-img">
                <a>
                <%= image_tag post.image_url%>
      
                </a>                
              </div>
              <div class="blog-item-text"> 
                <h3>
                <td><%= post.title %></td>
                </h3>
                <div class="meta-tags">
                  <span class="date"><i class="fa fa-calendar-full"></i>Created at:<%= post.created_at.strftime("%B %d, %Y") %></span>
                  <!-- <span class="comments"><a href="#"><i class="fa fa-bubble"></i> 24 comments </a></span> -->
                </div>
                <p>
               <td><%= truncate(post.body, :length => 160) %></td>
                </p>
                <%= link_to 'Read More', post, class: "btn btn-common btn-rm" %>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
          <% end %>
          </div>
        </div>
      </div>
    </section>
    <!-- blog Section End -->