
<!-- Header Section Start -->
    <header id="video-area" data-stellar-background-ratio="0.5">    
      <div class="fixed-top">
          <div class="container">
            <div class="logo-menu">
   
              <%= link_to 'Not-a-blog', root_path, class: "logo" %>
              <button class="menu-button" id="open-button"><i class="fa fa-bars" aria-hidden="true"></i></button>    
            </div>           
          </div>
      </div>
      <div class="overlay-2"></div> 
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Simple Weather Forecast</h1>
              <p class="lead pos  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">This is simple weather Forecast Taken from BMKG For 3 Days ahead 
              	<br>
              	Using BMKG API , Usualy updated aroun 02.00AM - 03.00AM in the morning 
              </p>
            </div>
              
          </div>
        </div> 
      </div>      
    </header>
    <!-- Header Section End --> 

<br>
<br>
<div class="container">Updated at : <%= @day %> / <%= @month %>  / <%= @year %>	
<div class="row">
<div class="col">	
	<b><%= @kab_yk %></b> 
	<br>
	Humidity Max (%) (%): <%= @humax_yk %>
	<br>
	Humidity Min (%) (%): <%= @humin_yk %>
	<br>
	Temperature Max (C/F) : <%= @tmax_yk %>
	<br>
	Temperature Min (C/F) : <%= @tmin_yk %>
	<br>
	<br>
	<b><%= @kab_btl %></b> 
	<br>
	Humidity Max (%) (%): <%= @humax_btl %>
	<br>
	Humidity Min (%) (%): <%= @humin_btl %>
	<br>
	Temperature Max (C/F) : <%= @tmax_btl %>
	<br>
	Temperature Min (C/F) : <%= @tmin_btl %>
	<br>
</div>
<div class="col">
	<b><%= @kab_slm %></b> 
	<br>
	Humidity Max (%) : <%= @humax_slm %>
	<br>
	Humidity Min (%) : <%= @humin_slm %>
	<br>
	Temperature Max (C/F) : <%= @tmax_slm %>
	<br>
	Temperature Min (C/F) : <%= @tmin_slm %>
	<br>
	<br>
	<b><%= @kab_kp %></b> 
	<br>
	Humidity Max (%) : <%= @humax_kp %>
	<br>
	Humidity Min (%) : <%= @humin_kp %>
	<br>
	Temperature Max (C/F) : <%= @tmax_kp %>
	<br>
	Temperature Min (C/F) : <%= @tmin_kp %>
	<br>
</div>
<div class="col">
	<B><%= @kab_gk %></B> 
	<br>
	Humidity Max (%) : <%= @humax_gk %>
	<br>
	Humidity Min (%) : <%= @humin_gk %>
	<br>
	Temperature Max (C/F) : <%= @tmax_gk %>
	<br>
	Temperature Min (C/F) : <%= @tmin_gk %>
</div>
<div class="col">
</h6>
<% link_to 'Home', root_path %>
</div>
</div>